<div class="jumbotron bg-danger p-3 my-3">
    <h1>MVC AULA</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati tempora recusandae quas soluta saepe perferendis odio similique molestias repudiandae? Unde dolore consectetur perspiciatis accusamus quo expedita pariatur optio autem doloribus.</p>
    <a href="{{URL}}"><button class="btn btn-light">HOME</button></a>
    <a href="{{URL}}/sobre"><button class="btn btn-light">SOBRE</button></a>
    <a href="{{URL}}/paginaTeste"><button class="btn btn-light">TESTE</button></a>
</div>